@import "src/styles/index.scss";

.container {
  border: 1px solid $app-secondary-border-color;
  width: calc(100% - 250px);
}

.tableRow:nth-child(odd) {
  @include table-row-odd;
}

.tableRow:nth-child(even) {
  @include table-row-even;
}

.date {
  color: $app-ternary-text-color;
}

.branchName,
.pullRequest {
  @include flex-align-center;
  color: $app-ternary-text-color;
  cursor: pointer;
  font-weight: $medium-font-weight;
  text-decoration: none;
  gap: $spacing-xs;

  &:hover {
    color: $app-primary-anchor-color;
  }
}

.title {
  @include ellipsis;
  display: block;
  max-width: 350px;
  width: fit-content;
}

.linkIcon {
  color: $app-quaternary-text-color;
  font-size: $icon-size-md;
}

.active {
  @include chip-active;
}

.completed {
  @include chip-completed;
}

.abandoned {
  @include chip-abandoned;
}

.noDataMessage {
  border-bottom: 1px solid $app-secondary-border-color;
  font-size: $font-size-mlg;
  text-align: center;
}
