@import "src/styles/index.scss";

.container {
  border: 1px solid $app-secondary-border-color;
  overflow: scroll;
  width: calc(100% - 250px);
}

.table {
  border-spacing: 0;
  width: 100%;
}

.tableHead {
  background-color: $app-secondary-text-color;
  color: $app-primary-text-color;
  font-weight: $extra-bold-font-weight;
  position: sticky;
  top: 0;
}

.tableCell {
  border-bottom: 1px solid $app-secondary-border-color;
  color: $app-ternary-text-color;
  font-size: $font-size-xmd;
  font-weight: $medium-font-weight;
  line-height: $app-primary-line-height;
  padding: $spacing-lg;
}

.tableRow:nth-child(odd) {
  @include table-row-odd;
}

.tableRow:nth-child(even) {
  @include table-row-even;
}

.branchName,
.pullRequest {
  @include flex-align-center;
  color: $app-ternary-text-color;
  cursor: pointer;
  font-weight: $medium-font-weight;
  gap: $spacing-xs;
  text-decoration: none;

  &:hover {
    color: $app-primary-anchor-color;
  }
}

.title {
  @include ellipsis;
  display: block;
  max-width: 350px;
  width: fit-content;
}

.linkIcon {
  color: $app-quaternary-text-color;
  font-size: $icon-size-md;
}

.active {
  @include chip-active;
}

.completed {
  @include chip-completed;
}

.abandoned {
  @include chip-abandoned;
}

.noDataMessage {
  border-bottom: 1px solid $app-secondary-border-color;
  font-size: $font-size-mlg;
  text-align: center;
}
