@import "src/styles/index.scss";

.tableContainer {
  @include table-container;
  width: calc(100% - 250px);
}

.table {
  @include table;
}

.tableHead {
  @include table-head;
}

.tableHeaderCell {
  @include table-header-cell;
}

.tableBody {
  @include table-body;
}

.tableCell {
  @include table-cell;
}

.tableRow:nth-child(odd) {
  @include table-row-odd;
}

.tableRow:nth-child(even) {
  @include table-row-even;
}

.branchName,
.pullRequest {
  @include flex-align-center;
  @include table-link-cell;
}

.title {
  @include ellipsis;
  display: block;
  max-width: 350px;
  width: fit-content;
}

.linkIcon {
  @include table-link-icon;
}

.active {
  @include chip-active;
}

.completed {
  @include chip-completed;
}

.abandoned {
  @include chip-abandoned;
}

.noDataMessage {
  @include table-no-data-message;
}
