@import "src/styles/index.scss";

.headerContainer {
  @include flex-justify-space-between;

  padding-bottom: 4px;
}

.header {
  color: $app-ternary-text-color;
  font-size: $font-size-xmd;
  font-weight: $semi-bold-font-weight;
  margin-bottom: $spacing-xs;
}

.tableContainer {
  @include table-container;

  max-height: 95%;
}

.table {
  @include table;
}

.tableHead {
  @include table-head;
}

.tableBody {
  @include table-body;
}

.noDataMessage {
  @include table-no-data-message;
}
