@import "src/styles/index.scss";

.noDataMessage {
  text-align: center;
  color: $app-primary-color;
  font-size: $font-size-mlg;
  border-bottom: 1px solid $app-secondary-border-color;
  height: 75px;
}

.text {
  color: $app-primary-color;
  font-size: $font-size-xmd;
  border-bottom: 1px solid $app-secondary-border-color;
  padding: $spacing-lg;
}

.pullRequestURL {
  text-decoration: none;
  font-weight: $medium-font-weight;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $app-primary-anchor-color;
  }

  color: $app-primary-color;
  @include flex-align-center;
}

.linkIcon {
  color: $app-secondary-color;
  vertical-align: middle;
  margin-left: $spacing-xs;
  font-size: $icon-size-md;
}

.navLink {
  @include ellipsis;

  font-size: $font-size-xmd;
}

.dialogIcon {
  display: flex;
}

.active {
  text-transform: capitalize;
  color: $app-secondary-text-color;
  background-color: $app-chip-active-color;
}

.completed {
  text-transform: capitalize;
  color: $app-secondary-text-color;
  background-color: $app-chip-completed-color;
}

.abandoned {
  text-transform: capitalize;
  color: $app-secondary-text-color;
  background-color: $app-chip-abandoned-color;
}

.paper {
  width: 100%;
  border: 1px solid $app-primary-border-color;
  height: 95%;
  overflow: scroll;
  border-radius: 4px;
}

.rowEven {
  background-color: $app-secondary-background-color;
}

.rowOdd {
  background-color: $app-secondary-text-color;
}

.comments {
  @include flex-align-center;
  gap: 4px;
  justify-content: center;
  color: $app-primary-color;
}

.icon {
  width: 20px;
  height: 20px;
}

@mixin votesList {
  gap: 3px;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.currentVotesList {
  @include votesList;
  width: 145px;
}

.votesTimeLine {
  @include votesList;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalPRs {
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  color: $app-primary-color;
}

.buttonColor {
  color: $app-primary-color;
  cursor: pointer;
  font-size: $icon-size-xl;
}

.timelineIconColor {
  color: $app-secondary-color;
  cursor: pointer;
  font-size: $icon-size-xl;
}

.historyIcon {
  height: 40px;
}

.tableHeader {
  display: flex;
  align-items: center;
  gap: 4px;
}

.sortingIcon {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 50px;
  margin-top: $spacing-sm;
}

.time {
  font-size: $font-size-xmd;
}

.prTitle {
  width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.startDate {
  display: block;
  width: 65px;
}

.closedDate {
  display: block;
  width: 75px;
}

.closedDateTitle[aria-label="Closed Date"] {
  width: max-content;
}

.dialogHeader {
  width: 22%;
  font-size: $font-size-xmd;
}

.prDetails {
  width: 78%;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  row-gap: 8px;
}

.tag {
  background-color: $app-ternary-background-color;
  font-size: $font-size-md;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 110px;
  height: fit-content;
}

.table {
  border-spacing: 0;
  width: 100%;
}

.tableHead {
  position: sticky;
  top: 0;
  background-color: $app-secondary-text-color;
  color: $app-primary-text-color;
  font-weight: $extra-bold-font-weight;
}

.tableBody {
    overflow-y: scroll;
}

.tableCell {
  font-weight: $medium-font-weight;
  font-size: 0.875rem;
  line-height: 1.43;
  border-bottom: 1px solid $app-secondary-border-color;
  padding: $spacing-lg;
}

.date {
  min-width: 98px;
}

.tags {
  min-width: 150px;
}

.author {
  min-width: 150px;
}

.commentCount {
  min-width: 130px;
}

.firstReviewTime {
  min-width: 160px;
}

.approvalTime {
  min-width: 135px;
}

.mergeTime {
  min-width: 120px;
}
