@import "src/styles/index.scss";

.filterIcon {
  font-size: $icon-size-xxxxl;
}

.clientFilterContainer {
  position: absolute;
  right: 0;
  z-index: 2;
}

.filterContainer {
  background-color: $app-ternary-background-color;
  background-color: $app-primary-background-color;
  border: 1px solid $app-secondary-border-color;
  max-height: 85vh;
  margin-top: $spacing-sm;
  overflow-y: scroll;
  padding: $spacing-lg;
  padding-top: 0px;
  width: 500px;
}

.noFiltersHeading {
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  text-align: center;
  padding: $spacing-md;
}

.noFiltersContent {
  font-size: $font-size-xmd;
  text-align: center;
}

.squadContainer {
  padding: $spacing-md;
}

.squadContainer:not(:last-child) {
  border-bottom: 1px solid $app-primary-border-color;
}

.squadName {
  @include ellipsis;
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  padding-bottom: $spacing-sm;
  text-align: center;
  width: 100%;
}

.categoryContainer {
  display: flex;
}

.memberContainer {
  width: 50%;
}

.squadCategory {
  @include ellipsis;
  width: 100%;
  font-size: $font-size-xmd;
  font-weight: $medium-font-weight;
}

.userContainer {
  padding: 0px $spacing-lg;
}

.userLabel {
  @include ellipsis;
  width: 100%;
  font-size: $font-size-xmd;
}
