@import "src/styles/index.scss";

.filterIcon {
  font-size: $icon-size-xxxxl;
}

.clientFilterContainer {
  @include filter-icon-container;
}

.filterContainer {
  @include filter-container;
  max-height: 85vh;
  overflow-y: scroll;
  width: 500px;
  background-color: $app-primary-background-color;
  padding: $spacing-lg;
  padding-top: 0px;
  margin-top: $secondary-minimum-margin;
}

.noFiltersHeading {
  padding: $spacing-md;
  text-align: center;
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
}

.noFiltersContent {
  font-size: $font-size-xmd;
  text-align: center;
}

.squadContainer {
  padding: $spacing-md;
}

.squadContainer:not(:last-child) {
  border-bottom: 1px solid $app-primary-border-color;
}

.squadName {
  @include ellipsis;
  width: 100%;
  text-align: center;
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  padding-bottom: $spacing-sm;
}

.categoryContainer {
  display: flex;
}

.memberContainer {
  width: 50%;
}

.squadCategory {
  @include ellipsis;
  width: 100%;
  font-size: $font-size-xmd;
  font-weight: $medium-font-weight;
}

.userContainer {
  padding: 0px $spacing-lg;
}

.userLabel {
  @include ellipsis;
  width: 100%;
  font-size: $font-size-xmd;
}
