@import "src/styles/index.scss";

.tileContent {
  @include tile-content;
}

.tileInfo {
  @include flex-row;
  align-items: center;
  gap: 8px;
  color: $app-primary-color;
}

.navIcon {
  font-size: $medium-icon-size;
  cursor: pointer;
  color: $app-secondary-color;
}

.dialogIcon {
  height: 20px;
  cursor: pointer;
}

.icon {
  align-self: flex-start;
}

.navLink {
  height: 22px;
}
