@import url("src/styles/index.scss");

.tileContainer {
  @include flex-align-center;

  gap: $spacing-sm;
}

.tileContent {
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
}

.navLink {
  @include flex-justify-center;
}

.navIcon {
  color: $app-primary-anchor-color;
  cursor: pointer;
  font-size: $icon-size-lg;
}

.dialogIcon {
  align-self: flex-start;
  cursor: pointer;
  height: 20px;
}

.activePullRequestDialog {
  width: 950px;
}

.namingConventionDialog {
  width: 600px;
}
