@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin chip-active {
  background-color: $active-color;
  color: $app-secondary-text-color;
  text-transform: capitalize;
}

@mixin chip-completed {
  background-color: $completed-color;
  color: $app-secondary-text-color;
  text-transform: capitalize;
}

@mixin chip-abandoned {
  background-color: $abandoned-color;
  color: $app-secondary-text-color;
  text-transform: capitalize;
}
