@mixin text-description {
  color: $app-primary-color;
  font-size: $font-size-xl;
  font-weight: $regular-font-weight;
  text-align: center;
}

@mixin error-message {
  border: 1px solid $app-primary-border-color;
  color: $app-primary-color;
  font-weight: $medium-font-weight;
  margin: $spacing-vlg 0;
  padding: $spacing-xs;
  text-align: center;
  width: 100%;
}
