@mixin metrics {
  height: 100%;
  width: 98%;
}

@mixin header {
  @include flex-row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  height: 65px;
  color: $app-primary-color;
}

@mixin table-details {
  @include flex-align-center;
  height: 80px;
}

@mixin tiles {
  @include flex-row;
  gap: 20px;
  color: $app-primary-color;
}

@mixin metrics-table {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 90%;
  overflow-y: auto;
  height: calc(100% - 110px);
}
