@mixin metrics-container {
  height: 100%;
  width: 100%;
}

@mixin metrics-table {
  @include flex-column;
  @include flex-align-center;
  max-height: 90%;
  overflow-y: auto;
  height: calc(100% - 100px);
}

@mixin tiles-container {
  @include flex-row;
  color: $app-primary-color;
  gap: $spacing-xl;
}
