@mixin flex-row {
  display: flex;
  color: $primary-color;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-column-center {
  @include flex-align-center;
  flex-direction: column;
  justify-content: center;
}

@mixin url {
  text-decoration: none;
  font-weight: $secondary-font-weight;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    color: $url-color;
  }
}

@mixin table-details {
  @include flex-align-center;
  height: 80px;
}

@mixin header {
  @include flex-row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  height: 65px;
}

@mixin paper {
  width: 100%;
  border: 1px solid $border-color;
  height: 95%;
  box-shadow:
    0px 2px 1px -1px $primary-shadow-color,
    0px 1px 1px 0px $secondary-shadow-color,
    0px 1px 3px 0px $ternary-shadow-color;
}

@mixin row-even {
  background-color: $table-background;
  &:hover {
    background-color: $darker-shade;
  }
}

@mixin row-odd {
  background-color: $primary-text-color;
  &:hover {
    background-color: $darker-shade;
  }
}

@mixin table-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin date-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin tiles {
  @include flex-row;
  gap: 20px;
}

@mixin under-development {
  text-align: center;
  font-weight: $primary-font-weight;
  font-size: $primary-font-size;
  margin-top: 5%;
}

@mixin metrics-table {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 90%;
  overflow-y: auto;
  height: calc(100% - 110px);
}

@mixin metrics {
  height: 100%;
  width: 98%;
}

@mixin tool-tip {
  font-size: $minimum-font-size;
}

@mixin tile-content {
  @include flex-align-center;
  gap: 6px;
}

@mixin table-view {
  width: 100%;
  display: flex;
  gap: 20px;
  height: 90%;
}

@mixin info-icon {
  @include flex-align-center;
  cursor: pointer;
}

@mixin link-icon {
  color: $secondary-color;
  vertical-align: middle;
  margin-left: $minimum-margin;
  font-size: $small-icon-size;
}

@mixin no-data-message {
  text-align: center;
  color: $primary-color;
  font-size: $secondary-font-size;
  border-bottom: 1px solid $table-border;
  height: 75px;
}

@mixin text {
  color: $primary-color;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin capitalize {
  text-transform: capitalize;
  color: $primary-text-color;
}

@mixin total-count {
  font-size: $secondary-font-size;
  font-weight: $primary-font-weight;
  color: $primary-color;
  word-spacing: 2px;
  letter-spacing: $secondary-letter-spacing;
}

@mixin pull-request-url {
  @include url;
  color: $primary-color;
  @include flex-align-center;
}

@mixin graph-info-icon {
  font-size: $medium-icon-size;
  color: $primary-color;
}

@mixin graph-info-container {
  position: absolute;
  top: 38px;
  z-index: 1;
}

@mixin graphs-container {
  width: 100%;
  margin-top: $minimum-margin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  gap: 50px;
  height: calc(100% - 90px);
}

@mixin description {
  color: $primary-color;
  font-size: $primary-font-size;
  font-weight: $ternary-font-weight;
  text-align: center;
}

@mixin table {
  border-spacing: 0;
  width: 100%;
}

@mixin table-head {
  position: sticky;
  top: 0;
  background-color: $primary-text-color;
  color: $secondary-text-color;
  font-weight: $maximum-font-weight;
}

@mixin table-body {
  overflow-y: scroll;
}

@mixin table-cell {
  font-weight: $secondary-font-weight;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: $primary-letter-spacing;
  border-bottom: 1px solid $table-border;
  padding: $primary-padding;
}

@mixin filter-icon-container {
  position: absolute;
  right: 0;
  z-index: 2;
}

@mixin filter-container {
  background-color: $tool-tip-background-color;
  box-shadow: 1px 1px 3px $primary-box-shadow;
}

@mixin common-icon {
  cursor: pointer;
  font-size: $extra-large-icon-size;
}
