@import "./flex.mixin.scss";
@import "./content.mixin.scss";
@import "./layout.mixin.scss";
@import "./table.mixin.scss";

@mixin url {
  text-decoration: none;
  font-weight: $medium-font-weight;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: $app-primary-anchor-color;
  }
}

@mixin capitalize {
  text-transform: capitalize;
  color: $app-secondary-text-color;
}


@mixin graph-info-icon {
  font-size: $icon-size-lg;
  color: $app-primary-color;
}

@mixin graph-info-container {
  position: absolute;
  top: 38px;
  z-index: 1;
}

@mixin graphs-container {
  width: 100%;
  margin-top: $spacing-xs;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  gap: 50px;
  height: calc(100% - 90px);
}

@mixin table {
  border-spacing: 0;
  width: 100%;
}

@mixin table-head {
  position: sticky;
  top: 0;
  background-color: $app-secondary-text-color;
  color: $secondary-text-color;
  font-weight: $extra-bold-font-weight;
}

@mixin table-body {
  overflow-y: scroll;
}

@mixin table-cell {
  font-weight: $medium-font-weight;
  font-size: 0.875rem;
  line-height: 1.43;
  border-bottom: 1px solid $app-secondary-border-color;
  padding: $spacing-lg;
}

@mixin filter-icon-container {
  position: absolute;
  right: 0;
  z-index: 2;
}

@mixin filter-container {
  background-color: $tool-tip-background-color;
}

@mixin common-icon {
  cursor: pointer;
  font-size: $icon-size-xl;
}
