@mixin table-row-odd {
  background-color: darken($app-primary-background-color, 3%);

  &:hover {
    background-color: darken($app-primary-background-color, 7%);
  }
}

@mixin table-row-even {
  background-color: $app-primary-background-color;

  &:hover {
    background-color: darken($app-primary-background-color, 7%);
  }
}
