@import "src/styles/index.scss";

.tile {
  @include flex-column;

  background-color: $app-primary-background-color;
  color: $app-ternary-text-color;
  gap: $spacing-sm;
  height: fit-content;
  padding: $spacing-sm $spacing-md;
  width: fit-content;
}

.title {
  font-size: $font-size-xmd;
  font-weight: $medium-font-weight;
}

.children {
  font-size: $font-size-mlg;
  font-weight: $medium-font-weight;
}
