@import "src/styles/index.scss";

.chipKey {
  margin: $spacing-xs;
  cursor: pointer;
}

.selectedChip {
  background-color: $app-secondary-color;
  color: $app-primary-background-color;
  &:hover {
    background-color: lighten($app-secondary-color, 10%);
  }
}
