@import "../../../../styles/index.scss";

.chipKey {
  margin: $minimum-margin;
  cursor: pointer;
}

.selectedChip {
  background-color: $secondary-color;
  color: $primary-background-color;
  &:hover {
    background-color: lighten($secondary-color, 10%);
  }
}
