@import "src/styles/index.scss";

.barChartContainer {
  position: relative;
}

.graphButtonContainer {
  align-items: center;
  display: flex;
  left: 75%;
  position: absolute;
  top: 33px;
  z-index: 1;
}
