@import "src/styles/index.scss";

.container {
  background-color: $app-secondary-background-color;
  height: 100%;
  overflow-x: scroll;
  padding: 0 $spacing-xl;
  width: 100%;
}

.header {
  @include flex-align-center;
  height: 50px;
}

.title {
  color: $app-ternary-text-color;
  font-size: $font-size-lg;
  font-weight: $medium-font-weight;
}

.main {
  height: calc(100% - 50px);
  overflow-x: hidden;
}

.actions {
  @include flex-align-center;
  gap: $spacing-md;
}
