@import "src/styles/index.scss";

.container {
  height: 100%;
  width: 100%;
}

.headerContainer {
  @include flex-align-center;

  color: $app-ternary-text-color;
  height: 70px;
  justify-content: space-between;
}

.tilesContainer {
  @include flex-row;

  color: $app-ternary-text-color;
  gap: $spacing-xl;
}
