@import "src/styles/index.scss";

.container {
  @include metrics-container;
}

.headerContainer {
  @include flex-align-center;
  color: $app-primary-color;
  height: 70px;
  justify-content: space-between;
}

.tilesContainer {
  @include tiles-container;
}
