@import "src/styles/index.scss";

.container {
  height: 100%;
  width: 100%;
}

.headerContainer {
  @include flex-align-center;
  color: $app-primary-color;
  height: 70px;
  justify-content: space-between;
}

.tilesContainer {
  @include flex-row;
  color: $app-primary-color;
  gap: $spacing-xl;
}
