@import "../../../../../styles/index.scss";

.filterContainer {
  @include filter-container;
  padding: $spacing-sm;
  width: 150px;
}

.clearFilterContainer {
  margin-top: $small-margin;
  margin-bottom: $base-margin;
  width: 100%;
  display: flex;
  justify-content: center;
}

.clearFilters {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: $font-size-md;
  cursor: pointer;
  color: $primary-text-color;
  background: $secondary-color;
  border-radius: 5px;
  height: 25px;
  width: 80px;
}

.voteFilterContainer {
  @include filter-icon-container;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.title {
  margin-left: $ternary-margin;
  font-size: $font-size-xmd;
  text-align: left;
}

.checkboxContainer {
  padding: $spacing-xs 0px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.voteImageLabelContainer {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 2px;
}

.checkbox {
  height: $icon-size-xl;
  width: 10%;
}

.checkboxImage {
  width: 14%;
}

.voteLabel {
  @include ellipsis;
  width: 75%;
  font-size: $font-size-md;
  text-align: start;
}

.tableFilterIcon {
  margin-top: $secondary-minimum-margin;
}
