@import url("src/styles/index.scss");

@mixin page {
  border-radius: $app-primary-border-radius;
  height: 50px;
  margin: $spacing-lg auto;
  padding: 0;
  width: 150px;

  &:hover {
    background-color: $app-secondary-anchor-color;
  }

  &.activePage {
    background-color: $app-primary-anchor-color;
    color: $app-ternary-anchor-color;

    &:hover {
      background-color: $app-secondary-anchor-color;
    }
  }
}

@mixin link {
  @include flex-align-center;
  @include page;

  color: $app-quaternary-anchor-color;
  font-size: $font-size-xmd;
  font-weight: $regular-font-weight;
  text-decoration: none;
}

.expandedLink {
  @include link;
}

.collapsedLink {
  @include link;

  height: 30px;
  width: 40px;
}

@mixin navIcon {
  color: $app-ternary-anchor-color;
  margin: auto $spacing-md;
  min-width: 12px;

  .pageIcon {
    height: auto;
    width: 12px;
  }
}

.expandedIcon {
  @include navIcon;
  @include flex-row-center;

  width: 15%;
}

.collapsedIcon {
  @include navIcon;
  @include flex-row-center;
}
