@import "src/styles/index.scss";

@mixin pageName {
  font-weight: $regular-font-weight;
  line-height: $ternary-line-height;
  color: $ternary-color;
  font-size: $font-size-xmd;
}

@mixin page {
  border-radius: 4px;
  height: 50px !important;
  margin: $medium-margin auto !important;
  padding: 0px !important;
  width: 150px !important;

  &:hover {
    background-color: $light-blue;
  }

  &.selectedPage {
    color: $highlight-color;
    background-color: $dark-blue;
    &:hover {
      background-color: $light-blue;
    }
  }
}

.drawerToolbar {
  @include flex-align-center;

  height: 81px;
  justify-content: space-around;
}

@mixin commonLink {
  @include flex-align-center;
  @include page;
  @include pageName;

  color: inherit;
  text-decoration: none;
}

.link {
  @include commonLink;
}

.smallLink {
  @include commonLink;
  width: 40px !important;
  height: 30px !important;
}

.utilizeAvailableSpace {
  flex-grow: 1;
}

@mixin commonPageIconCtr {
  margin: auto $small-margin !important;
  min-width: 12px !important;
  color: $highlight-color;

  .pageIcon {
    height: auto;
    width: 12px;
  }
}

.pageIconCtr {
  @include commonPageIconCtr;
  width: 15%;
}

.smallPageIconCtr {
  @include commonPageIconCtr;
}

.menuIcon {
  padding: 0px $spacing-md 0px $spacing-lg;
}

.navBar {
  width: 180px;
}

.drawerPaper {
  background: $app-secondary-color;
  color: $ternary-color;
  width: 180px;
  position: relative;
  height: 100%;
}

.smallDrawerPaper {
  background: $app-secondary-color;
  color: $ternary-color;
  width: 48px;
  position: relative;
  height: 100%;
}

.iconButton {
  padding: 0px;
  color: $app-primary-color;

  &:hover {
    background-color: transparent;
  }
}

.techForce {
  height: 75px;
  align-self: center;
  width: 75px;
}

.logoText {
  color: $ternary-color;
  font-size: $font-size-xmd;
  text-align: center;
  font-weight: 600;
  margin-top: $minimum-margin;
}

.smallDrawerContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $ternary-margin $base-margin;
  gap: 8px;
}

.cursorPointer {
  cursor: pointer;
}

.icon {
  color: $primary-text-color;
  font-size: 24px;
}
