@import "src/styles/index.scss";

.graph {
  align-items: center;
  display: flex;
  justify-content: center;
  height: calc(100% - 100px);
  margin-top: $spacing-xs;
}

:export {
  GRAPH_COLOR: $app-secondary-color;
}
