@import "src/styles/index.scss";

.graphContainer {
  align-items: center;
  display: flex;
  height: calc(100% - 100px);
  justify-content: center;
  margin-top: $spacing-lg;
}

:export {
  GRAPH_COLOR: $app-quaternary-text-color;
}
