@import "src/styles/index.scss";

.loadingPage {
  @include flex-column-center;
  height: 100%;
  width: 100%;
}

.container {
  @include flex-column-center;
  height: 50%;
  width: 50%;
}

.image {
  width: 25%;
}

.description {
  @include large-text-description;
}
