@import "src/styles/index.scss";

.loadingPage {
  @include flex-column-center;
  height: calc(100% - 150px);
}

.container {
  @include flex-column-center;
  width: 20%;
}

.image {
  width: 40%;
}

.description {
  @include text-description;
}
