@import url("src/styles/index.scss");

.loadingPage {
  @include flex-column-center;

  height: 100%;
  width: 100%;
}

.container {
  @include flex-column-center;

  height: 50%;
  width: 50%;
}

.image {
  width: 25%;
}

.description {
  color: $app-ternary-text-color;
  font-size: $font-size-xl;
  font-weight: $regular-font-weight;
  text-align: center;
}
