@import "src/styles/index.scss";

.home {
  display: flex;
  height: 100%;
}

.bugReport {
  align-items: center;
  background-color: $app-secondary-color;
  border-radius: 50%;
  bottom: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 30px;
  width: 50px;
}

.icon {
  color: $app-secondary-text-color;
  cursor: pointer;
}
