@import "src/styles/index.scss";

.noDataMessage {
  text-align: center;
  color: $app-primary-color;
  font-size: $font-size-mlg;
  border-bottom: 1px solid $app-secondary-border-color;
  height: 75px;
}

.text {
  color: $app-primary-color;
  text-align: left;
}

.paper {
  width: 100%;
  border: 1px solid $app-primary-border-color;
  height: 95%;
}

.rowEven {
  background-color: $app-secondary-background-color;
}

.rowOdd {
  background-color: $app-secondary-text-color;
}

.tableContainer {
  max-height: 440px;
  width: 100%;
  overflow-x: auto;
}

.table {
  @include table;
}

.tableHead {
  @include table-head;
}

.tableBody {
  @include table-body;
}

.tableCell {
  @include table-cell;
}
