@import url("src/styles/index.scss");

.tableContainer {
  @include table-container;
}

.table {
  @include table;
}

.tableHead {
  @include table-head;
}

.tableHeaderCell {
  @include table-header-cell;

  text-align: left;
}

.tableCell {
  @include table-cell;
}

.tableRow:nth-child(odd) {
  @include table-row-odd;
}

.tableRow:nth-child(even) {
  @include table-row-even;
}

.noDataMessage {
  @include table-no-data-message;
}
