@import url("src/styles/index.scss");

.barChartContainer {
  position: relative;
}

.infoIconContainer {
  left: 54.6%;
  position: absolute;
  top: 38px;
  z-index: 1;
}

.graphButtonContainer {
  align-items: center;
  display: flex;
  left: 74.5%;
  position: absolute;
  top: 33px;
  z-index: 1;
}

.infoIcon {
  color: $app-ternary-text-color;
  font-size: $icon-size-lg;
}
