@import "src/styles/index.scss";

.minThreshold {
  color: $app-chip-completed-color;
}

.insideThreshold {
  color: $app-chip-active-color;
}

.maxThreshold {
  color: $app-chip-abandoned-color;
}

.tileContent {
  @include flex-align-center;
  gap: $spacing-sm;
}
