@import "src/styles/index.scss";

.green {
  color: $app-chip-completed-color;
}

.red {
  color: $app-chip-abandoned-color;
}

.yellow {
  color: $app-chip-active-color;
}

.tileContent {
  @include flex-align-center;
  gap: 6px;
}
