@import url("src/styles/index.scss");

.sortingIcon {
  @include flex-column;

  height: 50px;
  margin-top: $spacing-sm;
  width: 40px;
}

.sortButton {
  color: $app-ternary-text-color;
  cursor: pointer;
  font-size: $icon-size-xl;
}
