@import "../../../styles/index.scss";

.errorMessage {
  @include flex-align-center;

  width: 100%;
  text-align: center;
  height: 100%;
  justify-content: center;
  font-weight: $primary-font-weight;
}
