@import "../../../styles/index.scss";

.errorMessage {
  margin: 50px 0px;
  border: 2px solid $border-color;
  padding: $spacing-xs;
  color: $app-primary-color;
  text-align: center;
  font-weight: 500;
  width: 100%;
}
