@import "../../../../styles/index.scss";

.noDataMessage {
  @include no-data-message;
}

.tableHeader {
  @include table-header;
  height: 55px;
}

.totalCount {
  @include total-count;
}

.tableView {
  @include table-view;
}

.paper {
  @include paper;
  min-height: 400px;
  height: 100%;
  width: 100%;
}

.linkIcon {
  @include link-icon;
}

.branchName {
  @include text;
  @include url;
  @include flex-center;
  max-width: 450px;
  gap: 20px;
}

.rowEven {
  @include row-even;
}

.rowOdd {
  @include row-odd;
}

.title {
  width: 400px;
  display: block;
  @include ellipsis;
}
