@import "src/styles/index.scss";

.header {
  @include flex-align-center;
  justify-content: space-between;
}

.totalCount {
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  color: $app-primary-color;
}

.container {
  border: 1px solid $app-secondary-border-color;
  height: 480px;
  max-height: 480px;
}

.title {
  @include ellipsis;
  display: block;
  max-width: 500px;
}

.branchName {
  @include flex-align-center;
  color: $app-primary-color;
  cursor: pointer;
  font-weight: $medium-font-weight;
  text-decoration: none;
  gap: $spacing-xs;

  &:hover {
    color: $app-primary-anchor-color;
  }
}

.linkIcon {
  color: $app-secondary-color;
  font-size: $icon-size-md;
}

.noDataMessage {
  border-bottom: 1px solid $app-secondary-border-color;
  font-size: $font-size-mlg;
  text-align: center;
}
