@import "src/styles/index.scss";

.header {
  @include flex-align-center;
  justify-content: space-between;
}

.totalCount {
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  color: $app-ternary-text-color;
}

.container {
  border: 1px solid $app-secondary-border-color;
  height: 480px;
  max-height: 480px;
  overflow: scroll;
}

.table {
  border-spacing: 0;
}

.tableHead {
  background-color: $app-secondary-text-color;
  color: $app-primary-text-color;
  font-weight: $extra-bold-font-weight;
  position: sticky;
  top: 0;
}

.tableCell {
  border-bottom: 1px solid $app-secondary-border-color;
  color: $app-ternary-text-color;
  font-size: $font-size-xmd;
  font-weight: $medium-font-weight;
  line-height: $app-primary-line-height;
  padding: $spacing-lg;
}

.title {
  @include ellipsis;
  display: block;
  max-width: 500px;
}

.branchName {
  @include flex-align-center;
  color: $app-ternary-text-color;
  cursor: pointer;
  font-weight: $medium-font-weight;
  text-decoration: none;
  gap: $spacing-xs;

  &:hover {
    color: $app-primary-anchor-color;
  }
}

.linkIcon {
  color: $app-quaternary-text-color;
  font-size: $icon-size-md;
}

.noDataMessage {
  border-bottom: 1px solid $app-secondary-border-color;
  font-size: $font-size-mlg;
  text-align: center;
}
