@import "src/styles/index.scss";

.date {
  border: 1px solid $primary-border-color;
  border-radius: 4px;
  color: $app-primary-color;
  height: 35px;
  text-align: center;
  font-size: $font-size-xmd;
  padding: 0px !important;
  width: 90px !important;
}

.datePicker {
  display: flex;
  color: $app-primary-color;
  align-items: center;
  gap: 5px;
}

.popper {
  z-index: 100 !important;
}

.tileContent {
  @include tile-content;
}

.dateHeader {
  @include date-header;
}
