@import "src/styles/index.scss";

.container {
  @include flex-column;
  justify-content: space-between;
}

.label {
  @include flex-align-center;
  gap: $spacing-xs;
  margin-top: $spacing-xs;
}

.title {
  font-size: $font-size-xmd;
  font-weight: $medium-font-weight;
}

.datePicker {
  @include flex-align-center;
  gap: $spacing-sm;
  margin-top: $spacing-sm;
}

.date {
  border: 1px solid $app-secondary-border-color;
  border-radius: $app-primary-border-radius;
  color: $app-primary-color;
  font-size: $font-size-xmd;
  height: 35px;
  min-width: 90px;
  padding: 0;
  text-align: center;
  width: 90px;
}

.date:hover {
  border: 1px solid $app-primary-border-color;
}

.date:focus {
  border: 1px solid $app-secondary-color;
  outline: none;
}

.dateSelector {
  z-index: 10 !important;
}
