@import "src/styles/index.scss";

.container {
  text-align: left;
}

.label {
  color: $app-primary-color;
  font-weight: $semi-bold-font-weight;
}

.container input {
  height: 10px;
  padding: $spacing-lg 0;

  &::placeholder {
    font-size: $font-size-md;
  }
}
