@import "../../../styles/index.scss";

.searchBox {
  text-align: left;
}

.background {
  background-color: $primary-background-color;
}

.searchBox input {
  height: 10px !important;
  padding: $spacing-lg 0px !important;
  &::placeholder {
    font-size: 12px !important;
  }
}

.label {
  font-weight: $semi-bold-font-weight;
  color: $app-primary-color;
}
