@import "src/styles/index.scss";

.container {
  text-align: left;
}

.label {
  color: $app-ternary-text-color;
  font-weight: $semi-bold-font-weight;
}

.container input {
  height: 10px;
  padding: $spacing-lg 0;

  &::placeholder {
    font-size: $font-size-md;
  }
}

.searchIcon {
  font-size: $icon-size-xl;
}

.searchBox {
  background-color: $app-primary-background-color;
  margin: $spacing-sm 0;
}

.searchBoxInput {
  width: 200px;
}
