@import "src/styles/index.scss";

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  color: $app-ternary-text-color;
  font-weight: $semi-bold-font-weight;
}

.closeButton {
  background-color: transparent;
  border: none;
  color: $app-ternary-text-color;
  cursor: pointer;
}
