@import "src/styles/index.scss";

.header {
  @include flex-align-center;
  justify-content: space-between;
}

.totalCount {
  font-size: $font-size-mlg;
  font-weight: $semi-bold-font-weight;
  color: $app-primary-color;
}

.container {
  border: 1px solid $app-secondary-border-color;
  height: 480px;
  max-height: 480px;
}

.tableRow:nth-child(odd) {
  @include table-row-odd;
}

.tableRow:nth-child(even) {
  @include table-row-even;
}

.title {
  @include ellipsis;
  display: block;
  width: 200px;
}

.branchName,
.pullRequest {
  @include flex-align-center;
  color: $app-primary-color;
  cursor: pointer;
  font-weight: $medium-font-weight;
  text-decoration: none;
  gap: $spacing-xs;

  &:hover {
    color: $app-primary-anchor-color;
  }
}

.date,
.createdBy {
  color: $app-primary-color;
}

.linkIcon {
  color: $app-secondary-color;
  font-size: $icon-size-md;
}

.noDataMessage {
  border-bottom: 1px solid $app-secondary-border-color;
  font-size: $font-size-mlg;
  text-align: center;
}
