@import "src/styles/index.scss";

.noDataMessage {
  @include no-data-message;
}

.text {
  color: $app-primary-color;
}

.branchName {
  color: $app-primary-color;
  max-width: 355px;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalCount {
  @include total-count;
}

.title {
  width: 200px;
  display: block;
  @include ellipsis;
}

.linkIcon {
  color: $app-secondary-color;
  vertical-align: middle;
  margin-left: 4px;
  font-size: $small-icon-size;
}

.pullRequestURL {
  @include pull-request-url;
}

.date {
  color: $app-primary-color;
}

.paper {
  @include paper;
  min-height: 440px;
}

.rowEven {
  @include row-even;
}

.rowOdd {
  @include row-odd;
}

.branchName {
  color: $app-primary-color;
  @include url;
}
