@import "src/styles/index.scss";

.dropdownContainers {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dropdownContainer {
  align-items: center;
  display: flex;
  width: 200px;
}

.selectHeading {
  font-size: $font-size-mlg;
  font-weight: $medium-font-weight;
  width: 160px;
}

.selectBox {
  font-size: $font-size-xmd;
  height: $font-size-lg;
  width: 80px;
}

.menuItem {
  font-size: $font-size-xmd;
  height: 22px;
}
