@import "../../../../../../styles/index.scss";

.dropdownContainers {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dropdownContainer {
  display: flex;
  width: 200px;
  align-items: center;
}

.selectHeading {
  width: 160px;
  font-size: $secondary-font-size;
  font-weight: $medium-font-weight;
}

.selectBox {
  font-size: $font-size-xmd;
  height: $large-font-size;
  width: 80px;
}

.menuItem {
  font-size: $font-size-xmd;
  height: 22px;
}
