@import "../../styles/index.scss";

.pageNotFound {
  @include flex-column-center;

  width: 100%;
}

.pageNotFoundText {
  margin: $primary-margin $no-margin $secondary-margin;
  line-height: $secondary-line-height;
  letter-spacing: $no-letter-spacing;
  color: $secondary-color;
  font-size: $ternary-font-size;
  font-weight: $secondary-font-weight;
}

.description {
  @include description;

  width: 570px;
}
