@import "src/styles/index.scss";

.pageNotFound {
  @include flex-column-center;
  width: 100%;
}

.pageNotFoundText {
  margin: $spacing-xxxl 0 $spacing-xxl;
  line-height: $secondary-line-height;
  letter-spacing: 0px;
  color: $app-secondary-color;
  font-size: $font-size-xxxl;
  font-weight: $medium-font-weight;
}

.description {
  color: $app-primary-color;
  font-size: $font-size-xl;
  font-weight: $regular-font-weight;
  text-align: center;
  width: 570px;
}
