@import url("src/styles/index.scss");

.pageNotFound {
  @include flex-column-center;

  width: 100%;
}

.pageNotFoundText {
  color: $app-quaternary-text-color;
  font-size: $font-size-xxxl;
  font-weight: $medium-font-weight;
  margin: $spacing-lg 0 $spacing-lg;
}

.description {
  color: $app-ternary-text-color;
  font-size: $font-size-xl;
  font-weight: $regular-font-weight;
  text-align: center;
  width: 570px;
}
