@import "src/styles/index.scss";

.pieChartContainer {
  position: relative;
}

.infoIconContainer {
  position: absolute;
  top: 38px;
  z-index: 1;
  left: 580px;
}

.infoIcon {
  font-size: $icon-size-lg;
  color: $app-ternary-text-color;
}
