$secondary-text-color: #000000;

$tool-tip-background-color: #ebebeb;

$ternary-color: #93b8d8;
$url-color: #5f66aa;

$primary-box-shadow: #00000080;

$app-primary-anchor-color: #054288;
$app-secondary-anchor-color: #0e84d7;

$active-color: #e5bd74;
$completed-color: #94d594;
$abandoned-color: #cb5050;

$table-border: #e0e0e0;
$table-background: #f2f2f2;
$darker-shade: darken($table-background, 10%);

$icon-color: #a2a5a9;

$tile-text-color: #757d83;
$chip-background-color: #e5e5e5;

$font-size-lg: 18px;

$small-icon-size: 12px;
$medium-icon-size: 15px;
$large-icon-size: 18px;
$ternary-icon-size: 32px;

$secondary-minimum-margin: 6px;
$maximum-margin: 40px;

$secondary-line-height: 1.16px;
$ternary-line-height: 16.5px;
$primary-line-height: 24px;

$primary-shadow-color: #00000033;
$secondary-shadow-color: #00000024;
$ternary-shadow-color: #0000001e;

$primary-letter-spacing: 0.2px;
$secondary-letter-spacing: 0.4px;

/* tokens */

/* margins and padding */
$spacing-xm: 2px;
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-xxl: 24px;
$spacing-xxxl: 28px;
$spacing-xxxxl: 32px;
$spacing-vlg: 40px;

/* icons */
$icon-size-xm: 2px;
$icon-size-xs: 4px;
$icon-size-sm: 8px;
$icon-size-md: 12px;
$icon-size-lg: 16px;
$icon-size-xl: 20px;
$icon-size-xxl: 24px;
$icon-size-xxxl: 28px;
$icon-size-xxxxl: 32px;

/* font sizes */
$font-size-sm: 8px;
$font-size-md: 12px;
$font-size-xmd: 14px;
$font-size-mlg: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 28px;
$font-size-xxxxl: 32px;

/* font weights */
$thin-font-weight: 100;
$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;
$extra-bold-font-weight: 900;

/* background colors */
$app-primary-background-color: #fff;
$app-secondary-background-color: #f5f6f9;

/* border colors */
$app-primary-border-color: #00003b;
$app-secondary-border-color: #d6d6d6;

/* border radius */
$app-primary-border-radius: 4px;

/* text color */
$app-primary-text-color: #fff; //TODO: TBD
$app-secondary-text-color: #fff;

/* anchor themes */
$app-primary-anchor-color: #054288;
$app-secondary-anchor-color: #0e84d7;
$app-ternary-anchor-color: #dbe7f2;

/* common themes */
$app-primary-color: #757d83;
$app-secondary-color: #0f52a0;
$app-ternary-color: #93b8d8;
