$primary-text-color: #fff;
$secondary-text-color: #000000;


$primary-background-color: #fff;
$secondary-background-color: #f5f6f9;
$tool-tip-background-color: #ebebeb;

$primary-color: #757d83;
$secondary-color: #0f52a0;
$ternary-color: #93b8d8;
$highlight-color: #dbe7f2;
$url-color: #5f66aa;

$primary-box-shadow: #00000080;

$dark-blue: #054288;
$light-blue: #0e84d7;

$scrollbar-color: #424242;

$active-color: #e5bd74;
$completed-color: #94d594;
$abandoned-color: #cb5050;



$table-border: #e0e0e0;
$table-background: #f2f2f2;
$darker-shade: darken($table-background, 10%);

$icon-color: #a2a5a9;

$border-color: #0000003b;
$secondary-border-color: #0000001e;

$tile-text-color: #757d83;
$chip-background-color: #e5e5e5;

$minimum-font-size: 12px;
$small-font-size: 13px;
$medium-font-size: 14px;
$secondary-font-size: 16px;
$large-font-size: 18px;
$primary-font-size: 20px;
$ternary-font-size: 36px;

$small-icon-size: 12px;
$medium-icon-size: 15px;
$large-icon-size: 18px;
$extra-large-icon-size: 20px;
$ternary-icon-size: 32px;

$ternary-font-weight: 400;
$secondary-font-weight: 500;
$primary-font-weight: 600;
$maximum-font-weight: 900;

$ternary-padding: 0px;
$minimum-padding: 4px;
$medium-padding: 6px;
$large-padding: 8px;
$secondary-padding: 12px;
$primary-padding: 16px;
$padding-small: 30px;
$padding-large: 40px;

$no-margin: 0px;
$minimum-margin: 4px;
$secondary-minimum-margin: 6px;
$base-margin: 10px;
$small-margin: 12px;
$medium-margin: 15px;
$ternary-margin: 20px;
$secondary-margin: 25px;
$primary-margin: 35px;
$maximum-margin: 40px;

$secondary-line-height: 1.16px;
$ternary-line-height: 16.5px;
$primary-line-height: 24px;

$primary-shadow-color: #00000033;
$secondary-shadow-color: #00000024;
$ternary-shadow-color: #0000001e;

$primary-letter-spacing: 0.2px;
$secondary-letter-spacing: 0.4px;
$no-letter-spacing: 0px;
