@import "src/styles/index.scss";

.container {
  height: 100%;
  width: 100%;
}

.headerContainer {
  @include flex-align-center;

  color: $app-ternary-text-color;
  height: 70px;
  justify-content: space-between;
  padding-top: $spacing-xm;
}

.tilesContainer {
  @include flex-row;

  color: $app-ternary-text-color;
  gap: $spacing-xl;
}

.tabContainer {
  height: calc(100% - 70px);
  padding-top: $spacing-lg;
}
