@import "src/styles/index.scss";

.codeReviewTable {
  @include metrics-table;
  margin-top: $spacing-xxl;
}

.codeReview {
  @include metrics;
}

.tableDetails {
  @include table-details;
}

.header {
  @include header;
}

.tiles {
  @include tiles;
}

.underDevelopment {
  @include under-development;
}

.dropDown {
  padding: $spacing-sm;
  position: absolute;
  top: 49px;
  left: 0;
  background-color: $app-primary-background-color;
  border: 1px solid $table-border;
  border-radius: 4px;
  z-index: 999;
  width: 100%;
}

.errorMessage {
  @include error-message;
}
